/* boilerplate css */
:root {
	--primary-dark: #222525;
	--primary-light: #f2f2f2;
	--primary-pink: #e848c3;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--primary-dark);
	background-color: var(--primary-light);
}

a {
	text-decoration: none;
	color: var(--color-tertiary);
}

a:hover {
	text-decoration: underline;
}
/* utilities */
.container {
	width: 80%;
	margin: 0 auto;
	padding: 0 20px;
}
/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--primary-pink);
	color: var(--primary-light);
	background-image: url(https://assets.micontenthub.com/DXBIZ/menus/1638966552-MCDay49of11.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 15rem;
}

.hero-container {
	text-align: center;
	width: 100%;
}

header h1 {
	font-size: 2rem;
	font-weight: 400;
	width: 100%;
	margin: 0;
	text-align: center;
}

/* main nav */
.main-nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	width: 50vw;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.main-nav ul::after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	border-top: solid 1px var(--primary-light);
	border-left: solid 1px var(--primary-light);
	border-bottom: solid 1px var(--primary-light);
	margin: 0 auto;
	margin-top: 1rem;
	position: absolute;
	bottom: 0;
	/* black box shadow */
	box-shadow: #0b0b0b4f 0px -4px 3.5px 0.5px;
}

.main-nav ul li {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--primary-dark);
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	width: 45%;
	text-align: center;
}

.main-nav ul li a {
	color: var(--primary-dark);
	text-decoration: none;
	padding: 1rem;
	display: block;
}

.main-nav ul li a#drinks {
	background-color: #6797d9;
}
.main-nav ul li a#drinks.active {
	background-color: #4c76b1;
	color: #f2f2f2;
}
.main-nav ul li a#drinks:hover {
	background-color: #6797d9;
	transition: all 0.3s ease-in-out;
}

.main-nav ul li a#food {
	background-color: #f05ec5;
}

.main-nav ul li a#food.active {
	background-color: #d04c9f;
	color: #f2f2f2;
}

.main-nav ul li a#food:hover {
	background-color: #d04c9f;
	transition: all 0.3s ease-in-out;
}

/* horizontal-nav */
.horizontal-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.horizontal-scrolling-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 78%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.horizontal-scrolling-cards .card {
	width: 10rem;
	height: calc(100% / 3 - 1rem);
	background-color: var(--primary-pink);
	padding: 1rem;
	text-align: center;
	color: var(--primary-light);
	transition: all 0.3s ease-in-out;
	flex-shrink: 0;
}
/* scroll buttons */
.scroll-left,
.scroll-right {
	background-color: #0b0b0b4f;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	z-index: 1;
}

.btn {
	background-color: #0b0b0b4f;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
}
.btn:hover {
	background-color: #0b0b0b;
	color: #f2f2f2;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
